extends base

block title
  title AKAPOLLO - ADMIN LOGIN

block head

block body
  main#container
    section#login
      form(
        action='/signin'
        method='post')
        fieldset
          legend LOGIN
          label
            span USERNAME
            input(
              type='input'
              name='username'
              required)
          label
            span PASSWORD
            input(
              type='password'
              name='password'
              required)
        input(
          type='submit'
          value='CONFIRM')
