extends base

block title
  title AKAPOLLO - UPLOAD

block head

block body
  main#container
    section#upload
      form(
        enctype="multipart/form-data"
        method="post"
        action="/loop/upload")
        fieldset
          legend UPLOAD
          label
            span PICK UP YOUR MUSIC
            input(
              type='file'
              name='music'
              required)
          label
            span TYPE WHAT KEY YOU WANT TO BIND
            input(
              type='input'
              name='key'
              maxlength=1
              required)
        input(
          type='submit'
          value='CONFIRM')
