extends base

block title
  title AKAPOLLO - ABOUT US

block head
  link(
  rel='stylesheet'
  href='/css/about.css')

block body
  main#about
    section
      article
        p
          #{ benjamin }
      article
        p
          #{ newton }
      article
        p
          #{ shawn }

block bottom
